
@import url('../css/fonts.css');


html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}


a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 6vh;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Abel);
    font-size: 3vh;
}

button.btn{
    border: none;
    border-radius: 2vh;
    padding: 1vh 3vh;
    font-size: 1.5vh;
    font-family: var(--Livvic);
    cursor: pointer;
}

.text-gray{
    color: var(--text-gray);
}

.nav{
    background: white;
    padding: 0 2vh;
    height: 0vh;
    min-height: 7vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{    
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7vh 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4vh;
    color: var(--text-white);
}

.collapse{
    height: 30vh;
}

.nav .nav-items{
    display: flex;
    margin: 0;
    padding: 0 7vh 0 0;
}

.nav .nav-items .nav-link{
    padding: 1.8vh 2vh;
    font-size: 1.1vh;
    position: relative;
    font-family: var(--Abel);
    font-size: 2.3vh;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6vh;
    padding: 1.5vh 5vh;
    display: block;
    font-family: var(--Lexend);
    font-size: 3vh;
}

main .site-title{
    background: url('../Images/Background-image.jpg');
    background-size: cover;
    height: 93vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background{
    padding-top: 23vh;
    text-align: center;
    color: var(--white);
}

main .site-title h1, h3{
    margin: .3vh;
}

main .site-title .btn{
    margin: 1.8vh;
    /* background: var(--sky); */
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--green);
    /* color: var(--white); */
}

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }
}

@media only screen and (max-width: 520px){
    nav .toggle-collapse{
        width: 80% !important;
    }

}